手書き文字の画像を認識しよう

In [2]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

df = pd.read_csv('input/mnist.csv.zip')

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,y
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4

In [5]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,y
count,200.0,200.0,200.0,200.0,200.0,200.0,200.0,200.0,200.0,200.0,...,200.0,200.0,200.0,200.0,200.0,200.0,200.0,200.0,200.0,200.000000
mean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.500000
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.752797
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
25%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.750000
50%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.000000
75%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.000000
max,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.000000

In [6]:
X = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

In [7]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier

tree = DecisionTreeClassifier(random_state=0)
scores = cross_val_score(tree,X,y,cv=10)

print('正答率',np.mean(scores),'標準偏差 +/-',np.std(scores))

正答率 0.6324842957778077 標準偏差 +/- 0.12174292146896827

In [8]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(C=0.01,random_state=0)
scores = cross_val_score(lr,X,y,cv=10)

print('正答率',np.mean(scores),'標準偏差 +/-',np.std(scores))

正答率 0.7314309469713965 標準偏差 +/- 0.1029112245444601

In [9]:
from sklearn.svm import SVC
svm = SVC(C=1,gamma=0.01,random_state=0)
scores = cross_val_score(svm,X,y,cv=10)

print('正答率',np.mean(scores),'標準偏差 +/-',np.std(scores))

正答率 0.15291940470800344 標準偏差 +/- 0.02198923829656343

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    test_size=0.3,
    random_state=0,
)

# 判定用に変数に保存
clf = lr
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.65

In [11]:
# 1行目のデータをとりだし
d = df.iloc[0, :-1].values
# 1行のデータを 28 x 28 の行列に変換してループ
for row in d.reshape([28, 28]):
    # 0のところを '_' 、それ以外（文字が書かれているところ）を '*' で表示
    print("".join("*" if a > 0 else "_" for a in row))

____________________________
____________________________
____________________________
____________________________
____________________________
___________********_________
______***************_______
___*******************______
___**********____*****______
___********______*****______
___****________*******______
_______________*******______
_____________********_______
__________**********________
__________*********_________
__________***********_______
__________************______
_________________******_____
__________________*****_____
________________*******_____
_____******************_____
_____*****************______
_____*****************______
_______************_________
________******______________
____________________________
____________________________
____________________________