機械学習でマーケティングをしてみよう

In [2]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
import pandas as pd

def plot_regions(clf, X, y):
    xx1, xx2 = np.meshgrid(np.arange(0, 12, 0.1),
                           np.arange(0, 12, 0.1))
    Z = clf.predict(np.array([xx1.ravel(), xx2.ravel()]).T)
    Z = Z.reshape(xx1.shape)
    plt.contourf(xx1, xx2, Z, alpha=0.4, cmap=ListedColormap(('red', 'blue')))

    plt.scatter(x=X[y == 0, 0], y=X[y == 0, 1], alpha=0.8, c='red')
    plt.scatter(x=X[y == 1, 0], y=X[y == 1, 1], alpha=0.8, c='blue')
    
df = pd.read_csv('input/bank.csv')
df.head()

,年齢,職種,結婚,学歴,債務不履行,預金残高,住宅ローン,個人ローン,連絡手段,日,月,秒数,連絡回数,経過日数,事前連絡回数,前回の結果,結果
0,42,4,1,2,0,2187,1,0,0,17,11,525,3,-1,0,3,1
1,67,5,1,2,0,701,0,0,0,6,8,254,2,-1,0,3,1
2,34,0,0,1,0,479,1,0,0,12,5,515,1,350,5,0,1
3,55,5,0,1,0,1580,0,1,2,19,6,1007,1,-1,0,3,1
4,53,4,1,3,0,2240,1,0,0,2,6,282,2,385,1,2,1

In [3]:
X = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

In [30]:
from sklearn.svm import SVC

In [31]:
from sklearn.tree import DecisionTreeClassifier

In [32]:
from sklearn.model_selection import cross_val_score

In [33]:
tree = DecisionTreeClassifier(random_state=0)
scores = cross_val_score(tree,X,y,cv=10)

print('正答率',np.mean(scores),'標準偏差 +/-',np.std(scores))

正答率 0.72 標準偏差 +/- 0.08426149773176358

In [34]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(C=0.01,random_state=0)
scores = cross_val_score(lr,X,y,cv=10)

print('正答率',np.mean(scores),'標準偏差 +/-',np.std(scores))

正答率 0.7300000000000001 標準偏差 +/- 0.12083045973594571

In [35]:
svm = SVC(C=1,gamma=0.01,random_state=0)
scores = cross_val_score(svm,X,y,cv=10)

print('正答率',np.mean(scores),'標準偏差 +/-',np.std(scores))

正答率 0.515 標準偏差 +/- 0.05024937810560447

In [36]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    test_size=0.3,
    random_state=0,
)

# 判定用に変数に保存
clf = lr
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.7833333333333333